@media screen and (max-width: 56em) {
  .product {
    grid-template-areas: "image" "information";
    width: min(344px, 90%);
    grid-template-columns: 1fr;

    &__image {
      width: 100%;
    }

    &__excerp {
      margin-block-end: 1.5rem;
    }
  }
}
